# IDE related:
.idea
.vscode

# Python related:
.ipynb_checkpoints
**/__pycache__

# Mac OS related:
**/.DS_Store

# Data:
_Data/HASYv2
_Data/colab_dataset.pkl
_Data/pyimage.bmp

# Others:
build
_Sphinx/_build